html, body {
  background-color: #02182B;
  font-family: 'Eczar', serif;
}

.parallax {
  /* The image used */
  background-image: url(arches-architectural-design-architecture-135018.jpg);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.motto {
  text-align: left;
  width: 50%;
    text-shadow: 4px 4px black;
}

h3 {
  color: white;
  font-size: 4em;
  margin-top: 3em;
}


.words {
  position: relative;
  margin-top: 20em;
  color: white;
}

.seo {
  background-image: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

.cust {
  background-image: url(https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

.seo, .cust {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
  padding-top: 15%;
}


/* Navbar and changes on scrolled funciton */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }
  header {
    position: sticky;
  }
}

.navbar {
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item .contact {
  display: inline-block;
  color: white;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  float: left;
  color: white;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  font-size: 2.5em;
  transition: 0.5s ease;
}

.scrolled {
  transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: #02182B;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.scrolled.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 2.5em;
  transition: 0.5s ease;
}

/* Responsivness */

@media screen and (max-width: 700px) {
  h3 {
    width: 60%;
    font-size: 3em;
  }
  .logo {
    text-align: left;
    font-size: 10px;
  }
.nav{
text-align: right;
font-size: 10px;
}
}

@media screen and (max-width: 450px) {
  .logo {
    text-align: left;
    font-size: 10px;
    position: absolute;
  }
.nav{
position: absolute;
font-size: 10px;
background-color: #02182B;
}
  .motto {
    font-size: 12px;
    width: 100%;
    margin-top: 4em;
    text-align: left;
    background-color: #02182B;
  }
}
