html, body {
  background-color: #02182B;
  font-family: 'Eczar', serif;
}

.parallax {
  /* The image used */
  background-image: url(arches-architectural-design-architecture-135018.jpg);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





.land {
  color: white;
  font-size: 9em;
  padding-top: 2em;
  text-align: center;
  text-shadow: 4px 4px black;

}
@media screen and (max-width: 400px) {
    .land {
        font-size: 2.8em;
        text-align: center;
        padding-top: 4em;
    }
.motto{
  font-size: 2em;
  padding-bottom: 7em;
}
.picw{
  font-size: .8em;
}

}




h3 {
  color: white;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  text-shadow: 4px 4px black;

}

.words {
  position: relative;
  margin-top: 20em;
  color: white;
}

.seo {
  background-image: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

.cust {
  background-image: url(https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

.seo, .cust {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
  padding-top: 15%;
}


.hamburguer {
  position: fixed;
  outline: none;
  top: 1em;
  right: 0;
  border: 0;
  margin: 40px;
  z-index: 999;
}
.hamburguer:hover {
  cursor: pointer;
}
.hamburguer .bar1, .hamburguer .bar2, .hamburguer .bar3 {
  width: 44px;
  height: 5px;
  background-color: white;
  margin: 12px 0;
  transition-duration: 0.4s;
}

.toggle .bar1 {
  transform: rotate(-40deg) translate(-1px, 1px);
  -webkit-transform: rotate(-40deg) translate(-1px, 1px);
  background: white;
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  transform: rotate(40deg) translate(-8px, -8px);
  -webkit-transform: rotate(40deg) translate(-8px, -8px);
  background: white;
}

nav {
  background: #02182B;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition-duration: .5s;
}
nav ul {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 120px;
  text-align: center;
  list-style: none;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  transition-duration: .6s;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover {
  background: white;
  cursor: pointer;
  color: #306db6;
}

.open {
  visibility: visible;
  opacity: 1;
}
