html, body {
  background-color: #02182B;
  font-family: 'Eczar', serif;

}

.parallax {
  /* The image used */
  background-image: url(arches-architectural-design-architecture-135018.jpg);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





.land {
  color: white;
  font-size: 9em;
  padding-top: 2em;
  text-align: center;
  text-shadow: 4px 4px #333;

}
@media screen and (max-width: 400px) {
    .land {
        font-size: 3.2em;
        text-align: center;
        padding-top: 4em;
    }
.motto{
  font-size: 2em;
  padding-bottom: 7em;
}
.picw{
  font-size: .8em;
}
  .hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    width: 22px;
    height: 3px;

}
.contact-form .input-text{
  width: 300px;
}

}




h3 {
  color: white;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  text-shadow: 2px 2px #333;

}

.words {
  position: relative;
  margin-top: 20em;
  color: white;
  z-index: -1;
  text-shadow: 2px 2px #333;
}

.seo {
  background-image: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

.cust {
  background-image: url(https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;

}

.seo, .cust {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
  padding-top: 15%;
}


.hamburger {
  position: fixed;
  outline: none;
  top: 1em;
  right: 0;
  border: 0;
  margin: 40px;
  z-index: 999;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
  width: 44px;
  height: 5px;
  background-color: white;
  margin: 12px 0;
  transition-duration: .7s;
}

.toggle .bar1 {
  transform: rotate(-405deg) translate(-16px, 16px);
  -webkit-transform: rotate(-405deg) translate(-16px, 16px);
  background: white;
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  transform: rotate(405deg) translate(-8px, -8px);
  -webkit-transform: rotate(405deg) translate(-8px, -8px);
  background: white;
}

nav {
  background: #02182B;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition-duration: .5s;
}
nav ul {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 120px;
  text-align: center;
  list-style: none;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  transition-duration: .6s;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover {
  background: white;
  cursor: pointer;
  color: #306db6;
}

.open {
  visibility: visible;
  opacity: 1;
}


/* Contact form */

.get-in-touch {
  max-width: 650px;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          z-index: -1;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
  margin-top: 148px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  height: 36px;
  color: white;
  width: 600px;
  background-color: inherit;
  border-width: 0 0 2px 0;
  border-color: white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: white;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #333 1px 1px;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition-duration: .5s;
  margin-top: 30px;
}


.submit-btn:hover{
    transform: scale(1.2) perspective(1px);
    transition-duration: .5s;
    background-color: white;
    color: #000;
    text-shadow: #333 1px 1px;
  }

  .range-slider {
    margin: 60px 0 0 0%;
  }

  .range-slider {
    width: 100%;
  }

  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }

  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }

  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }

  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }

.budget{
  font-size: 20px;
  padding-bottom: 20px;
}
