html, body {
  background-color: #02182B;
  font-family: 'Eczar', serif;
}

.parallax {
  /* The image used */
  background-image: url(arches-architectural-design-architecture-135018.jpg);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.motto {
  text-align: left;
  width: 50%;
}

h3 {
  color: white;
  font-size: 4em;
  margin-top: 3em;
}


.words {
  position: relative;
  margin-top: 20em;
  color: white;
}

.seo {
  background-image: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: solid black 2px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 2.5em;
  height: 500px;
  color: black;
  margin-top: 10em;
  box-shadow: 20px 20px 30px -9px black;
}

.cust {
  background-image: url(https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 30px;
  height: 500px;
  color: black;
  margin-top: 3em;
}

.seo, .cust {
  color: #33393e;
  font-size: 2em;
}

.picw {
  background-color: white;
  opacity: .75;
  padding: 15px 0;
}

/* Navbar and changes on scrolled funciton */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }
  header {
    position: sticky;
  }
}

.navbar {
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item .contact {
  display: inline-block;
  color: white;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  float: left;
  color: white;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  font-size: 2.5em;
  transition: 0.5s ease;
}

.scrolled {
  transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: #02182B;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.scrolled.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 2.5em;
  transition: 0.5s ease;
}

/* Responsivness */

@media screen and (max-width: 700px) {
  h3 {
    width: 60%;
    font-size: 3em;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    position: absolute;
  }
  .nav {
    visibility: hidden;
  }
  .motto {
    font-size: 8px;
    width: 100%;
  }
}
body {
  background: #2B2E4A;
}

.container {
  margin-top: 100px;
}

.contact-form {
  list-style-type: none;
}
.contact-form li div {
  margin-bottom: 2.5em;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  margin: 0;
  padding-bottom: 1.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 3px solid slategrey;
  background: #2B2E4A;
  font-family: 'Roboto', sans-serif;
  color: lightgrey;
  font-weight: 700;
  font-size: 18px;
  transition: ease-in-out 0.25s;
}
.contact-form textarea {
  min-height: 50px;
  max-height: 500px;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: vertical;
  overflow: hidden;
}
.contact-form ::-webkit-input-placeholder {
  font-size: 12px;
  color: slategrey;
  text-transform: uppercase;
  font-weight: 400;
}
.contact-form label {
  font-size: 12px;
  color: slategrey;
  text-transform: uppercase;
  font-weight: 400;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  outline: none;
  resize: none;
  border-bottom: 3px solid #db4d57;
}
.contact-form #slider-range-min {
  outline: 0;
  background: slategrey;
  height: 3.6em;
  border: 0;
  border-radius: 0;
}
.contact-form #slider-range-min .ui-slider-range {
  background: #db4d57;
  border-radius: 0;
}
.contact-form #slider-range-min .ui-slider-handle {
  outline: 0;
  top: 1.1em;
  margin-left: -.6em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background: white;
  cursor: pointer;
}
.contact-form #amount {
  border: 0;
  color: lightgrey;
  font-weight: 400;
  font-size: 28px;
  padding-top: 1.1em;
  letter-spacing: 3px;
}
.contact-form button {
  color: lightgrey;
  background: rgba(34, 34, 34, 0);
  border: 3px solid #db4d57;
  height: 74px;
  width: 200px;
  float: right;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: ease-in-out 0.25s;
}
.contact-form button span {
  transition: ease-in-out 0.25s;
}
.contact-form button:hover {
  background: #db4d57;
  color: lightgrey;
}
.contact-form button:hover span {
  padding-left: 10px;
  color: white;
}
