html, body {
  background-color: #02182B;
  font-family: 'Eczar', serif;
}

.parallax {
  /* The image used */
  background-image: url(arches-architectural-design-architecture-135018.jpg);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seo {
  background-image: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: solid black 2px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 2.5em;
  height: 500px;
  color: black;
  margin-top: 10em;
  box-shadow: 20px 20px 30px -9px black;
}

.cust {
  background-image: url(https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 30px;
  height: 500px;
  color: black;
  margin-top: 3em;

}

p{
  margin-top: 5em;
}

h3 {
  color: white;
  text-align: left;
  font-size: 4em;
  margin-top: 3em;
}

button {
  font-size: 1.1em;
}

.words {
  position: relative;
  margin-top: 20em;
  color: white;
}

.seo, .cust {
  color: #33393e;
  font-size: 2em;


}

#div{
    background-color: white;
    opacity: .75;
    padding: 15px 0;
}



body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
  height: 1900px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }
  header {
    position: sticky;
  }
}

.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item .contact {
  display: inline-block;
  color: white;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  float: left;
  color: white;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  font-size: 3em;
  transition: 0.5s ease;
}



.navbar .logo img {
  display: none;
}

.scrolled {
  transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.scrolled.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 2.5em;
  transition: 0.5s ease;
}



@media screen and (max-width: 700px){
    h3 {
        width: 60%;
        font-size: 3em;
    }

}


@media screen and (max-width: 450px){
    h3 {
        font-size: 2em;
    }


}
